.user {
  color: black;
  #ticketId {
    margin-left: 30px;
    font-weight: 400;
    color: #444444;
    font-size: 18px;
  }
  .ticket {
    &__container {
      position: absolute;
      width: 80%;
      height: 80vh;
      left: 10%;
      bottom: 5%;
      overflow: auto;
      background: white;
      padding: 20px 30px;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.61);

      z-index: 0;
    }
    &__information {
      line-height: 1.5;
      background-color: white;
      table {
        width: 100%;
        th {
          text-align: left;
          padding: 10px;
          font-size: 22px;
          border-bottom: 1px dashed rgb(51, 51, 51);
        }
        td {
          padding: 5px;
        }
      }
    }
    &__conversation {
      position: relative;
      margin-top: 20px;
    }
    &__box {
      margin-top: 50px;
      form {
        width: 100%;
        textarea {
          width: 100%;
          padding: 20px 10px;
          border: 1px solid rgba(107, 107, 107, 0.295);
        }
        button {
          margin-left: 20px;
          img {
            margin-top: -5px;
          }
        }
      }
    }

    &__img {
      margin: 10px;
      max-width: 250px;
      cursor: pointer;
    }

    .label {
      font-weight: bold;
    }
  }
  .overlay {
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100vw;
    height: 100vh;
    z-index: 10000;

    img {
      position: absolute;
      max-width: 800px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10000;
    }
  }
}
