.ticket {
  width: 100%;
  height: 100%;
  padding: 20px;

  &__container {
    padding: 20px 30px;
    background: white;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.61);
    border-radius: 10px;
  }
  &__information {
    line-height: 1.5;
    background-color: white;
    table {
      width: 100%;
      th {
        padding: 10px;
        font-size: 22px;
        border-bottom: 1px dashed rgb(51, 51, 51);
      }
      td {
        padding: 5px;
      }
    }
  }
  &__conversation {
    position: relative;
    margin-top: 20px;
  }
  &__box {
    margin-top: 50px;
    form {
      width: 100%;
      textarea {
        width: 100%;
        padding: 20px 10px;
        border: 1px solid rgba(107, 107, 107, 0.295);
      }
      button {
        margin-left: 20px;
        img {
          margin-top: -5px;
        }
      }
    }
  }

  .overlay {
    animation-duration: 0.3s;
    top: 0;
    left: 0;

    img {
      max-width: 800px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__img {
    margin: 10px;
    max-width: 250px;
    cursor: pointer;
  }

  .label {
    font-weight: bold;
  }
}
