.container {
  width: 100%;
  height: 100vh;
  color: #3f414f;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("~@/assets/img/background.jpg");
  background-attachment: fixed;
}
.clearfix {
  margin-top: 20px;
  clear: both;
}
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #eccd59;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
}
.vs__input {
  margin-top: 20px;
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
  transition: 0.2s all ease-in-out;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.61);
  &:focus {
    border: 2px solid #eccd59;
    box-shadow: 1px 1px 10px #eccd59;
  }
}
.ql-container {
  max-height: 400px;
  overflow: auto;
}
.editor {
  margin: 20px auto;
}
.vue-suggestion {
  .vs__loading {
    position: absolute;
  }
  .vs__list {
    width: 100%;
    text-align: left;
    border: none;
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 2px solid #eccd59;
    position: relative;
    .vs__list-item {
      background-color: #fff;
      cursor: pointer;
      padding: 10px;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #eee !important;
      }
      .vs__item-active {
        background-color: #f3f6fa;
      }
    }
  }
}
